// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  text-align: center;
}
.page_header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pet_data {
  padding: 10px;
  margin: 10px;
}
table {
  border-spacing: 0.5rem;
}
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("https://images.unsplash.com/photo-1503514662580-2388029e9434?auto=format&fit=crop&w=1349&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    overflow: visible;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  height: 250px;
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}
